.kotel__container {
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
}

.kotel__container:hover {
    border-bottom: 3px solid #042039;
}

.kotel__container h1 {
    font-size: 40px;
    color: black;
}