.form__div{
    border-top: 1px solid #042039;
    border-bottom: 1px solid #042039;
    background-color: #042039;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.form__h1{
    padding: 0 15px;
    cursor: default;
    color: white;
    font-size: 50px;
    margin-bottom: 100px;
}
.form__h1 h1{
    text-align: center;
}

.form__name input{
    transition: all .3s;
    width: 500px;
    padding: 10px 20px;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    background-color: transparent;
    font-size: 30px;
    margin-bottom: 30px;
}
.form__name input:focus{
    width: 550px;
    outline: none;
}

.form__text textarea{
    transition: min-width .3s, max-width .3s;
    min-height: 120px;
    max-height: 500px;
    min-width: 500px;
    max-width: 500px;
    padding: 10px 20px;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    background-color: transparent;
    font-size: 30px;
    overflow: auto;
    margin-bottom: 70px;
}
.form__text textarea:focus{
    outline: none;
    min-width: 550px;
    max-width: 550px;
}

.form__btn{
    transition: all .3s;
    cursor: pointer;
    border: 3px solid #0B4374;
    border-radius: 50px;
    padding: 15px 85px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.form__btn:hover{
    padding: 15px 100px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #CFCFCF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #CFCFCF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #CFCFCF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #CFCFCF;
}


@media (min-width: 768px) and (max-width: 1024px){
    .form__div{
        padding: 30px 0 100px 0;
    }
    .form__h1{
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .form__div{
        padding: 30px 0 100px 0;
    }
    .form__h1{
        font-size: 24px;
        margin-bottom: 30px;
    }
    .form__name input{
        width: 220px;
        font-size: 18px;
    }
    .form__name input:focus{
        width: 250px;
        outline: none;
    }
    .form__text textarea {
        min-width: 220px;
        max-width: 220px;
        font-size: 18px;
    }
    .form__text textarea:focus{
        min-width: 250px;
        max-width: 250px;
    }
    .form__btn{
        font-size: 18px;
        padding: 10px 50px;
    }
    .form__btn:hover{
        padding: 10px 50px;
    }
}