@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
